In [1]:
import pandas as pd

# RegulonDB

In [2]:
reg_db = pd.read_csv('./dataset/regulon_db.csv', sep='\t', header=None)
reg_db

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,-1.30,-1.30,-1.44,-0.58,-1.00,-1.00,-1.00,-1.00,-0.88,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094,-1.30,-1.00,-1.30,-1.44,-1.44,-1.44,-1.44,-1.30,-0.88,-0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,-1.30,-1.00,-1.00,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,-0.58,-1.45,-1.84,-1.28,-1.44,-1.44,-1.00,-0.58,-0.88,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,-0.58,-0.88,-0.58,-0.88,-1.44,-1.44,-1.00,-0.58,-1.45,-1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Verificando duplicatas
dup_reg = reg_db[reg_db.duplicated()]
dup_reg

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
1,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,-0.58,-0.88,-1.44,-1.84,-1.30,-0.88,-1.00,-0.58,-1.00,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,-0.58,-0.88,-1.44,-1.84,-1.30,-0.88,-0.58,-1.00,-1.00,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,-0.58,-1.30,-2.27,-1.45,-0.88,-1.00,-1.00,-1.00,-1.00,-0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,-1.00,-1.44,-1.44,-0.58,-1.45,-1.45,-1.00,-0.88,-1.44,-1.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3075,-1.00,-1.44,-1.44,-0.58,-1.45,-1.45,-1.30,-1.44,-1.00,-1.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3086,-0.88,-1.44,-1.30,-1.00,-1.00,-0.88,-1.44,-2.27,-1.84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3092,-2.27,-2.24,-1.30,-1.30,-1.44,-1.28,-1.45,-0.88,-1.00,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3093,-1.30,-1.30,-1.44,-0.58,-1.00,-1.00,-1.00,-1.00,-0.88,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
reg_nodup = reg_db.drop_duplicates()
reg_nodup

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091,-1.30,-1.30,-1.44,-0.58,-1.00,-1.00,-1.00,-1.00,-0.88,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094,-1.30,-1.00,-1.30,-1.44,-1.44,-1.44,-1.44,-1.30,-0.88,-0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,-1.30,-1.00,-1.00,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,-0.58,-1.45,-1.84,-1.28,-1.44,-1.44,-1.00,-0.58,-0.88,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,-0.58,-0.88,-0.58,-0.88,-1.44,-1.44,-1.00,-0.58,-1.45,-1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CollecTF

In [5]:
col_db = pd.read_csv('./dataset/collectf_db.csv', sep='\t', header=None)
col_db

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,-2.24,-1.44,-1.00,-1.28,-2.24,-1.84,-1.30,-0.88,-0.58,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-2.24,-1.44,-1.00,-1.28,-2.24,-1.84,-1.30,-0.88,-0.58,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.44,-1.84,-2.27,-1.84,-2.24,-1.84,-1.30,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.44,-1.84,-2.27,-2.24,-1.30,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.84,-1.84,-2.27,-1.84,-2.24,-1.30,-0.88,-1.00,-1.28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5447,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5448,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5449,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5450,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5451,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Verificando duplicatas
dup_col = col_db[col_db.duplicated()]
dup_col

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
1,-2.24,-1.44,-1.00,-1.28,-2.24,-1.84,-1.30,-0.88,-0.58,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,-1.44,-1.84,-2.27,-1.84,-2.24,-1.84,-1.30,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,-1.44,-1.84,-2.27,-2.24,-1.30,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,-1.84,-1.84,-2.27,-1.84,-2.24,-1.30,-0.88,-1.00,-1.28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,-1.44,-1.84,-2.27,-1.28,-1.28,-2.24,-1.30,-1.00,-0.88,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5443,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5445,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5449,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5450,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5451,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
col_nodup = col_db.drop_duplicates()
col_nodup

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,-2.24,-1.44,-1.00,-1.28,-2.24,-1.84,-1.30,-0.88,-0.58,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.44,-1.84,-2.27,-1.84,-2.24,-1.84,-1.30,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.44,-1.84,-2.27,-2.24,-1.30,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.84,-1.84,-2.27,-1.84,-2.24,-1.30,-0.88,-1.00,-1.28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-1.44,-1.84,-2.27,-1.28,-1.28,-2.24,-1.30,-1.00,-0.88,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5444,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5446,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5447,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5448,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Regulon + CollecTF

In [8]:
df_reg_col = pd.concat([reg_nodup, col_nodup], ignore_index=True)
df_reg_col

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4933,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4934,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4936,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Verificando duplicatas
dup_reg_col = df_reg_col[df_reg_col.duplicated()]
dup_reg_col

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
3147,-1.0,-1.00,-1.30,-1.84,-2.27,-2.24,-2.27,-1.28,-0.58,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4072,-1.3,-0.88,-0.58,-1.00,-1.00,-1.00,-1.45,-2.24,-1.44,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nodup_reg_col = df_reg_col.drop_duplicates()
nodup_reg_col

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4933,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4934,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4936,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def calcular_numero_de_colunas(row):
    return row.count()

In [12]:
nodup_reg_col['numero_colunas'] = nodup_reg_col.apply(calcular_numero_de_colunas, axis=1)
tabela_frequencia = nodup_reg_col['numero_colunas'].value_counts().sort_index()
tabela_frequencia

<ipython-input-12-1956faef9b4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nodup_reg_col['numero_colunas'] = nodup_reg_col.apply(calcular_numero_de_colunas, axis=1)

4         3
5         9
6        18
8       231
9       511
10      186
11      153
12      395
13     1151
14      584
15      462
16      202
17      269
18      178
19       91
20      173
21       39
22       29
23       36
24       30
25       16
26        4
27       19
28       20
29       14
30        5
31        3
32        2
33       17
34       18
35        1
36       10
37        3
39        3
40        4
41        1
42        2
44        1
45        2
46        1
47        1
48        1
49        1
52       25
53        1
54        1
58        1
59        1
61        2
62        1
69        2
90        1
163       1
Name: numero_colunas, dtype: int64

In [13]:
nodup_reg_col

,0,1,2,3,4,5,6,7,8,9,...,154,155,156,157,158,159,160,161,162,numero_colunas
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4933,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4934,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4935,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4936,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15

# Preparing our dataset to ML

In [14]:
nodup_reg_col = nodup_reg_col.drop('numero_colunas', axis=1)
nodup_reg_col

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,-0.58,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.45,-1.45,-1.45,-0.88,-0.58,-1.45,-1.45,-1.00,-1.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.00,-1.30,-1.44,-1.00,-0.58,-1.00,-1.45,-1.28,-1.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4933,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4934,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4936,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_8 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 8, axis=1)]
df_8 = df_8.dropna(axis=1)
df_8

         0     1     2     3     4     5     6     7
671  -1.00 -0.58 -1.45 -1.84 -1.28 -1.00 -0.58 -0.88
672  -0.88 -0.58 -1.00 -1.30 -1.84 -1.44 -0.58 -1.00
673  -0.88 -0.58 -1.00 -1.30 -1.44 -0.58 -1.00 -1.00
727  -1.00 -1.00 -1.00 -1.28 -1.45 -1.45 -1.45 -1.45
728  -1.00 -0.58 -0.88 -1.28 -1.84 -1.45 -1.45 -1.45
...    ...   ...   ...   ...   ...   ...   ...   ...
3377 -1.44 -1.84 -1.84 -2.27 -2.24 -1.30 -1.45 -2.24
3378 -1.45 -1.28 -1.44 -2.27 -2.24 -1.30 -1.00 -1.00
3379 -1.45 -1.84 -2.24 -2.27 -2.24 -1.30 -1.45 -1.45
3380 -1.44 -1.44 -1.84 -1.84 -1.30 -1.00 -1.00 -0.88
3572 -2.27 -1.84 -1.45 -0.88 -1.44 -1.30 -1.00 -1.00

[231 rows x 8 columns]

In [16]:
df_8.to_csv('reg_col_8bps.csv', index=False)

In [17]:
df_9 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 9, axis=1)]
df_9 = df_9.dropna(axis=1)
df_9

         0     1     2     3     4     5     6     7     8
0    -0.58 -1.45 -1.45 -0.88 -0.58 -1.45 -1.45 -0.88 -1.00
1    -1.44 -1.28 -1.45 -0.88 -1.00 -1.28 -1.45 -0.88 -1.00
2    -1.00 -1.28 -1.45 -0.88 -1.00 -1.28 -1.45 -0.88 -1.00
3    -1.45 -1.45 -1.45 -0.88 -0.58 -1.45 -1.45 -1.00 -1.45
4    -1.00 -1.30 -1.44 -1.00 -0.58 -1.00 -1.45 -1.28 -1.00
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
3594 -1.45 -1.30 -1.44 -1.44 -1.30 -1.00 -1.00 -0.88 -1.00
4700 -2.24 -1.84 -2.27 -1.84 -1.84 -2.24 -2.27 -1.84 -2.24
4701 -2.24 -1.84 -2.27 -2.24 -2.27 -2.24 -2.27 -1.84 -2.24
4702 -1.84 -1.84 -2.27 -2.24 -2.27 -1.84 -1.45 -1.30 -2.27
4868 -1.00 -1.44 -1.30 -1.00 -1.45 -1.45 -1.00 -1.00 -1.45

[511 rows x 9 columns]

In [18]:
df_9.to_csv('reg_col_9bps.csv', index=False)

In [19]:
df_10 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 10, axis=1)]
df_10 = df_10.dropna(axis=1)
df_10

         0     1     2     3     4     5     6     7     8     9
233  -1.44 -0.58 -1.00 -1.45 -2.24 -2.27 -1.45 -1.30 -2.27 -2.24
234  -1.44 -0.58 -1.00 -1.00 -1.30 -2.27 -1.45 -1.45 -1.28 -1.44
235  -1.44 -0.58 -1.00 -1.45 -2.24 -1.44 -1.44 -1.84 -2.27 -2.24
236  -1.44 -0.58 -1.00 -1.00 -1.30 -2.27 -2.24 -1.84 -1.84 -1.84
237  -1.44 -0.58 -1.00 -1.00 -1.00 -1.45 -1.84 -1.84 -1.84 -2.24
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3069 -0.88 -1.00 -0.58 -1.00 -1.00 -1.00 -1.00 -0.88 -0.58 -1.00
3070 -1.44 -1.30 -1.30 -1.30 -1.00 -1.00 -0.88 -0.58 -1.00 -1.00
3900 -1.44 -1.84 -1.44 -1.28 -1.28 -1.00 -0.58 -1.45 -1.84 -1.45
4586 -1.00 -0.88 -1.00 -1.28 -1.45 -0.88 -1.44 -2.27 -1.45 -1.45
4587 -1.44 -1.44 -2.27 -1.84 -1.84 -1.28 -0.58 -1.45 -1.28 -1.00

[186 rows x 10 columns]

In [20]:
df_10.to_csv('reg_col_10bps.csv', index=False)

In [21]:
df_11 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 11, axis=1)]
df_11 = df_11.dropna(axis=1)
df_11

        0     1     2     3     4     5     6     7     8     9     10
222  -1.30 -1.45 -1.28 -1.00 -1.44 -1.44 -0.58 -1.00 -1.00 -1.45 -1.84
802  -1.44 -1.28 -1.45 -0.88 -1.00 -1.00 -1.00 -1.00 -1.44 -1.30 -1.45
803  -1.44 -1.28 -1.45 -0.88 -1.00 -1.00 -1.00 -1.28 -2.24 -1.30 -1.45
804  -1.44 -1.28 -1.45 -1.30 -1.44 -1.00 -1.00 -1.00 -1.44 -1.30 -1.45
805  -2.24 -2.27 -1.84 -2.24 -1.44 -1.44 -1.44 -1.28 -2.24 -1.30 -1.45
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3616 -1.00 -1.28 -1.45 -1.30 -1.44 -1.00 -1.28 -1.84 -1.45 -0.88 -1.44
3818 -1.44 -0.58 -1.45 -1.45 -1.00 -1.00 -0.88 -1.44 -1.44 -1.44 -2.27
3838 -1.30 -1.00 -1.45 -1.45 -1.45 -1.45 -0.88 -1.44 -1.44 -1.00 -1.00
4856 -1.44 -1.84 -1.30 -1.45 -1.28 -0.58 -1.00 -0.88 -0.58 -1.00 -0.88
4869 -0.88 -0.58 -1.30 -1.44 -1.00 -1.28 -1.45 -1.45 -1.28 -0.58 -1.00

[153 rows x 11 columns]

In [22]:
df_11.to_csv('reg_col_11bps.csv', index=False)

In [23]:
df_12 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 12, axis=1)]
df_12 = df_12.dropna(axis=1)
df_12

        0     1     2     3     4     5     6     7     8     9     10    11
10   -1.28 -2.24 -1.44 -1.00 -1.00 -1.28 -1.45 -0.88 -1.00 -1.00 -1.28 -2.24
11   -1.28 -2.24 -1.44 -1.00 -1.00 -1.00 -0.58 -0.88 -1.00 -1.00 -1.28 -1.28
12   -1.28 -1.44 -1.30 -1.00 -1.00 -1.45 -1.45 -1.00 -1.00 -1.00 -1.45 -2.24
13   -1.28 -1.45 -1.00 -0.88 -1.00 -0.58 -1.30 -2.27 -1.28 -1.00 -1.28 -2.24
14   -1.84 -1.84 -1.28 -1.00 -1.00 -1.00 -1.44 -2.27 -1.28 -1.00 -1.28 -1.84
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4862 -1.00 -0.88 -1.44 -1.30 -0.88 -0.58 -1.00 -1.00 -1.00 -1.30 -1.30 -0.88
4863 -1.00 -0.88 -0.58 -1.45 -1.45 -1.00 -1.00 -0.88 -1.00 -0.58 -1.45 -1.45
4864 -1.00 -0.88 -0.58 -1.00 -1.00 -0.88 -0.58 -1.45 -1.28 -1.00 -0.58 -1.00
4891 -1.30 -0.88 -1.00 -1.00 -1.00 -1.00 -1.44 -1.30 -0.88 -1.00 -1.00 -1.00
4892 -1.30 -0.88 -1.00 -1.00 -1.28 -1.45 -1.00 -1.00 -0.88 -0.58 -1.00 -0.88

[395 rows x 12 columns]

In [24]:
df_12.to_csv('reg_col_12bps.csv', index=False)

In [25]:
df_13 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 13, axis=1)]
df_13 = df_13.dropna(axis=1)
df_13

,0,1,2,3,4,5,6,7,8,9,10,11,12
159,-1.44,-1.30,-1.00,-0.88,-1.00,-0.58,-1.00,-0.88,-0.58,-0.88,-1.44,-2.27,-1.45
160,-1.44,-1.30,-1.00,-0.88,-1.00,-1.00,-0.58,-0.88,-0.58,-0.88,-1.44,-2.27,-1.45
161,-1.44,-1.30,-1.00,-0.88,-1.00,-1.00,-1.00,-1.00,-0.58,-0.88,-1.44,-2.27,-1.45
162,-1.44,-2.27,-1.45,-0.88,-0.58,-1.00,-1.00,-1.00,-1.00,-0.88,-1.00,-1.28,-1.45
163,-2.24,-1.30,-1.00,-0.88,-0.58,-1.00,-0.88,-1.28,-1.45,-0.88,-1.44,-2.27,-1.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698,-1.45,-1.00,-1.00,-1.45,-1.45,-1.00,-1.00,-1.45,-2.24,-1.44,-1.00,-1.00,-1.44
4699,-1.45,-1.00,-1.00,-1.45,-2.24,-1.44,-1.00,-1.00,-1.44,-1.44,-1.00,-1.00,-1.44
4703,-1.44,-1.30,-1.00,-1.00,-1.45,-1.84,-2.24,-1.84,-1.44,-1.00,-1.00,-1.28,-1.45
4704,-1.44,-1.30,-1.00,-1.00,-1.45,-2.24,-1.44,-1.00,-1.00,-1.00,-1.00,-1.00,-1.28
4872,-1.28,-1.44,-1.44,-0.58,-1.00,-1.45,-1.45,-1.30,-2.27,-1.45,-1.00,-1.00,-0.88

In [26]:
df_13.to_csv('reg_col_13bps.csv', index=False)

In [27]:
df_14 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 14, axis=1)]
df_14 = df_14.dropna(axis=1)
df_14

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
24,-1.00,-1.00,-1.00,-1.00,-0.58,-1.00,-1.00,-1.00,-1.45,-1.45,-1.00,-1.45,-1.45,-1.00
809,-1.44,-1.44,-1.44,-0.58,-1.00,-1.00,-0.88,-1.00,-1.00,-1.00,-0.58,-1.30,-1.44,-1.28
810,-1.44,-1.28,-1.28,-0.58,-1.00,-1.00,-1.00,-1.00,-1.00,-0.88,-1.44,-1.30,-1.30,-2.27
811,-1.30,-1.00,-1.45,-1.45,-1.00,-0.88,-1.00,-0.58,-0.88,-1.00,-1.44,-2.27,-1.84,-1.84
812,-1.44,-0.58,-0.88,-0.58,-1.00,-0.88,-1.00,-1.00,-1.00,-1.00,-1.28,-1.45,-1.30,-2.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,-1.00,-1.00,-1.00,-1.00,-1.45,-1.45,-0.88,-0.58,-1.00,-1.00,-1.00,-0.88,-0.58,-1.00
4905,-1.44,-1.84,-1.30,-1.00,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,-1.00,-1.00,-1.28,-1.45
4931,-1.44,-1.30,-0.88,-0.58,-1.00,-0.88,-1.44,-1.84,-1.44,-1.00,-0.58,-0.88,-1.28,-1.45
4932,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.30,-0.88,-1.00,-1.28,-1.28,-1.28,-1.45
4933,-0.58,-0.88,-0.58,-1.30,-1.44,-1.44,-1.84,-1.30,-0.88,-1.00,-0.58,-1.00,-1.45,-1.45

In [28]:
df_14.to_csv('reg_col_14bps.csv', index=False)

In [29]:
df_15 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 15, axis=1)]
df_15 = df_15.dropna(axis=1)
df_15

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
206,-2.27,-1.45,-1.30,-1.30,-1.00,-1.00,-0.88,-1.00,-1.00,-1.44,-2.27,-1.45,-1.45,-1.45,-1.30
207,-2.27,-1.45,-1.00,-0.88,-1.00,-1.00,-1.00,-1.28,-1.28,-1.44,-2.27,-1.45,-0.88,-0.58,-1.30
300,-1.45,-1.28,-1.44,-1.30,-1.00,-1.00,-1.45,-2.24,-2.27,-1.28,-1.00,-1.28,-1.45,-1.30,-2.27
301,-1.84,-1.44,-1.44,-1.30,-1.00,-0.88,-1.28,-2.24,-1.44,-1.00,-1.28,-1.45,-1.00,-1.30,-2.27
302,-2.27,-1.28,-1.44,-1.30,-1.00,-0.88,-1.28,-2.24,-2.27,-1.28,-1.00,-0.58,-1.00,-1.45,-1.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4887,-1.00,-1.28,-1.45,-0.88,-0.58,-1.45,-1.28,-1.00,-1.00,-1.00,-1.00,-1.28,-1.45,-0.88,-0.58
4888,-1.00,-1.28,-1.45,-0.88,-0.58,-0.88,-1.00,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-0.58
4934,-0.88,-1.44,-1.30,-0.88,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,-1.00,-1.00,-1.28,-1.28,-0.58
4935,-0.88,-1.44,-1.30,-1.00,-0.88,-1.44,-1.44,-1.28,-2.24,-1.44,-1.00,-1.00,-1.00,-1.28,-1.28
4936,-1.00,-1.44,-1.30,-1.00,-1.45,-1.45,-0.88,-1.44,-1.30,-0.88,-1.00,-1.00,-1.00,-1.28,-1.45

In [30]:
df_15.to_csv('reg_col_15bps.csv', index=False)

In [31]:
df_16 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 16, axis=1)]
df_16 = df_16.dropna(axis=1)
df_16

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
6,-2.27,-1.28,-1.00,-1.00,-0.58,-1.00,-0.88,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.28,-2.24,-2.27
7,-1.30,-0.88,-0.58,-1.00,-1.30,-1.30,-1.00,-0.88,-1.44,-1.44,-1.00,-1.00,-1.00,-0.58,-1.30,-2.27
8,-1.00,-1.45,-1.84,-1.45,-1.00,-1.45,-1.45,-1.00,-0.88,-1.28,-1.28,-1.00,-1.44,-2.27,-2.24,-2.27
9,-2.27,-1.28,-1.00,-1.00,-1.44,-2.27,-1.28,-1.00,-1.00,-1.28,-1.45,-0.88,-0.58,-0.88,-1.00,-1.28
21,-1.00,-1.44,-1.84,-1.30,-1.00,-1.00,-1.00,-1.00,-0.88,-1.00,-1.00,-1.00,-1.28,-1.84,-1.45,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-0.58,-0.88,-1.00,-1.44,-1.44,-1.00,-1.00,-1.28,-1.45,-1.00
4922,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-1.00,-1.44,-1.44,-0.58,-0.88,-0.58,-1.00,-1.45,-2.24,-2.27
4923,-0.88,-1.44,-1.30,-0.88,-0.58,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-1.00,-0.58,-1.45,-1.45,-0.88
4924,-0.88,-1.44,-1.44,-1.00,-0.58,-1.45,-1.28,-1.00,-1.00,-0.58,-0.88,-0.58,-1.00,-1.45,-2.24,-2.27
4925,-1.28,-2.24,-1.44,-1.00,-0.58,-0.88,-0.58,-0.88,-0.58,-1.30,-1.44,-0.58,-1.00,-1.45,-2.24,-1.30

In [32]:
df_16.to_csv('reg_col_16bps.csv', index=False)

In [33]:
df_17 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 17, axis=1)]
df_17 = df_17.dropna(axis=1)
df_17

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
140,-1.00,-1.00,-0.58,-1.00,-0.88,-1.44,-1.30,-1.45,-1.84,-1.45,-0.88,-0.58,-1.30,-1.30,-1.45,-1.45,-1.00
141,-1.00,-1.00,-1.00,-1.44,-2.27,-1.45,-1.00,-0.88,-1.28,-1.45,-0.88,-1.00,-0.58,-1.30,-2.27,-1.45,-1.00
142,-1.00,-0.58,-1.00,-0.88,-1.00,-1.44,-1.84,-2.27,-1.45,-1.00,-0.88,-1.28,-1.45,-1.30,-1.30,-1.00,-1.00
143,-0.88,-1.00,-0.58,-1.30,-2.27,-2.24,-1.84,-1.30,-1.00,-1.00,-0.88,-1.00,-1.44,-1.30,-0.88,-0.58,-1.00
144,-1.00,-1.44,-1.44,-1.44,-1.44,-1.28,-1.45,-0.88,-0.58,-1.30,-1.44,-1.44,-2.27,-1.45,-1.30,-1.84,-1.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,-1.00,-1.00,-1.00,-1.28,-1.45,-0.88,-1.00,-0.58,-0.88,-1.00,-1.44,-1.30,-1.30,-1.30,-1.00,-0.88,-0.58
4899,-1.00,-1.28,-1.28,-1.00,-0.58,-1.00,-0.88,-0.58,-0.88,-1.00,-1.44,-1.30,-1.30,-1.30,-1.00,-1.30,-1.84
4901,-1.28,-2.24,-2.27,-1.84,-1.28,-1.28,-2.24,-1.84,-1.84,-1.30,-1.45,-1.28,-1.44,-1.84,-2.27,-2.24,-1.30
4902,-1.45,-2.24,-2.27,-1.84,-1.45,-1.00,-1.45,-2.24,-1.84,-2.27,-2.24,-2.27,-2.24,-1.84,-2.27,-2.24,-1.30
4903,-1.44,-1.84,-2.27,-1.84,-1.45,-1.30,-1.84,-1.84,-2.27,-1.28,-1.00,-1.28,-2.24,-1.84,-2.27,-2.24,-1.30

In [34]:
df_17.to_csv('reg_col_17bps.csv', index=False)

In [35]:
df_18 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 18, axis=1)]
df_18 = df_18.dropna(axis=1)
df_18

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
231,-1.00,-0.88,-1.00,-1.44,-1.44,-1.00,-1.00,-1.28,-1.28,-1.28,-1.84,-1.28,-1.00,-1.44,-1.30,-1.45,-1.84,-1.28
232,-1.00,-0.88,-0.58,-1.30,-1.44,-0.58,-0.88,-1.00,-1.00,-1.28,-1.28,-1.00,-1.00,-1.44,-1.30,-1.45,-1.84,-1.28
1250,-1.44,-1.28,-1.45,-1.45,-2.24,-1.30,-1.00,-0.88,-1.28,-1.45,-1.00,-0.88,-1.00,-1.00,-1.28,-2.24,-1.30,-1.45
1251,-1.00,-0.58,-1.00,-1.00,-0.88,-0.58,-1.00,-1.45,-1.45,-1.00,-1.00,-1.00,-0.88,-1.28,-1.84,-1.28,-0.58,-1.00
1252,-1.00,-1.00,-0.58,-1.00,-0.88,-0.58,-1.00,-1.00,-1.00,-1.00,-0.88,-1.00,-1.00,-1.28,-1.84,-1.28,-0.58,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4654,-1.28,-1.44,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.28,-1.84,-1.28,-1.00,-0.58,-1.00,-1.45,0.00
4655,-1.28,-1.44,-1.44,-1.28,-1.45,-0.88,-1.00,-1.28,-1.45,-0.88,-1.28,-1.84,-1.28,-1.00,-0.58,-1.00,-1.45,0.00
4904,-1.45,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-0.58,-1.00,-0.88,-0.58,-0.88,-0.58,-1.00,-1.45,-1.45,-1.00,-1.00
4914,-1.30,-0.88,-1.44,-1.44,-1.00,-0.58,-1.45,-1.45,-0.88,-1.00,-0.58,-0.88,-0.58,-1.00,-1.45,-1.45,-0.88,-0.58
4915,-1.00,-0.88,-1.44,-1.44,-1.00,-0.58,-0.88,-0.58,-1.00,-0.88,-0.58,-0.88,-1.00,-0.58,-1.45,-2.24,-2.27,-1.28

In [36]:
df_18.to_csv('reg_col_18bps.csv', index=False)

In [37]:
df_19 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 19, axis=1)]
df_19 = df_19.dropna(axis=1)
df_19

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
208,-1.84,-1.45,-0.88,-1.00,-1.00,-1.00,-1.00,-1.28,-1.28,-1.28,-1.84,-1.84,-1.28,-1.00,-0.58,-0.88,-1.00,-1.44,-1.84
209,-1.28,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.28,-1.28,-1.28,-1.84,-1.45,-1.45,-2.24,-1.30,-0.88,-1.00,-1.44,-1.84
210,-1.84,-1.45,-1.00,-0.88,-1.00,-0.58,-0.88,-1.44,-1.84,-1.30,-1.30,-1.30,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.30
211,-1.30,-1.30,-0.88,-1.00,-0.58,-0.88,-1.44,-1.30,-1.00,-1.30,-1.30,-1.00,-1.45,-1.28,-0.58,-0.88,-0.58,-1.45,-1.84
223,-1.28,-1.44,-1.44,-0.58,-1.45,-1.45,-1.45,-1.45,-0.88,-0.58,-0.88,-1.00,-1.00,-1.28,-2.24,-1.44,-0.58,-1.45,-1.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4608,-1.45,-1.84,-1.28,-1.44,-1.44,-1.44,-1.30,-1.30,-1.30,-0.88,-1.00,-1.00,-1.44,-2.27,-1.84,-1.45,-1.30,-1.44,-1.00
4871,-1.00,-1.30,-1.30,-1.00,-1.00,-1.00,-1.00,-1.30,-2.27,-1.45,-1.45,-1.45,-1.00,-0.88,-1.00,-1.00,-1.00,-0.58,-0.88
4883,-2.27,-1.45,-0.88,-0.58,-1.00,-1.00,-1.45,-1.84,-1.45,-0.88,-1.28,-2.24,-1.44,-1.00,-1.00,-0.58,-0.88,-1.28,-1.45
4884,-1.30,-1.44,-1.00,-0.58,-1.00,-1.00,-1.45,-1.28,-1.00,-1.00,-1.44,-1.84,-1.44,-1.00,-1.00,-1.00,-1.28,-1.28,-0.58
4885,-0.88,-0.58,-0.88,-0.58,-1.00,-1.00,-1.45,-1.84,-1.84,-1.45,-0.88,-0.58,-1.00,-1.30,-2.27,-1.84,-1.45,-1.00,-1.00

In [38]:
df_19.to_csv('reg_col_19bps.csv', index=False)

In [39]:
df_20 = nodup_reg_col[nodup_reg_col.apply(lambda row: len(row.dropna()) == 20, axis=1)]
df_20 = df_20.dropna(axis=1)
df_20

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1662,-1.30,-1.30,-1.00,-0.88,-1.00,-1.44,-1.84,-2.27,-1.84,-1.84,-1.28,-0.58,-1.45,-1.84,-1.45,-1.00,-0.88,-1.00,-1.28,-1.28
1663,-1.45,-1.45,-1.00,-0.88,-1.00,-1.44,-1.84,-2.27,-1.45,-1.30,-1.44,-1.44,-2.27,-1.84,-1.45,-1.45,-1.28,-1.00,-1.00,-1.00
1800,-1.45,-1.45,-0.88,-1.00,-1.28,-1.28,-1.44,-1.84,-1.30,-0.88,-0.58,-0.88,-0.58,-0.88,-1.00,-0.58,-1.00,-1.45,-1.45,-1.00
1801,-1.30,-1.84,-1.84,-1.30,-1.00,-1.00,-1.00,-0.88,-0.58,-0.88,-0.58,-0.88,-1.00,-1.00,-1.00,-1.44,-1.30,-1.30,-1.84,-1.30
1900,-1.30,-0.88,-0.58,-1.00,-0.88,-1.00,-1.28,-2.24,-2.27,-2.24,-1.44,-1.28,-2.24,-2.27,-2.24,-1.30,-1.00,-1.00,-1.00,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,-1.44,-2.27,-1.45,-1.00,-1.00,-0.88,-1.44,-2.27,-1.28,-1.00,-1.28,-1.28,-1.28,-1.45,-0.88,-1.00,-1.00,-1.44,-2.27,-1.45
4926,-0.58,-1.00,-0.88,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-2.24,-1.84,-1.44,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,-1.00,-1.00
4927,-1.44,-1.44,-1.00,-1.44,-1.30,-1.45,-1.45,-0.88,-1.28,-1.84,-1.28,-1.00,-1.00,-1.00,-1.00,-1.28,-1.45,-1.00,-0.88,-0.58
4928,-0.58,-0.88,-1.00,-1.44,-1.30,-1.00,-1.00,-1.00,-0.88,-1.44,-1.30,-0.88,-1.00,-1.28,-1.84,-1.84,-1.45,-1.00,-1.00,-1.00
4929,-1.00,-1.00,-0.88,-1.44,-1.30,-0.88,-0.58,-1.00,-1.45,-1.84,-2.24,-1.44,-1.00,-0.58,-0.88,-1.28,-1.45,-0.88,-1.00,-0.58

In [40]:
df_20.to_csv('reg_col_20bps.csv', index=False)